.container {
    background-color: white;
    height: 100%;

    @media screen and (min-width:319px) and (max-width:1048px) {
        height: 100%;
    }

    &__coment {
        max-width: 1048px;
        width: 100%;

        margin: 0 auto;
        padding-top: 80px;

        @media screen and (min-width:319px) and (max-width:1048px) {
            width: 90%;
        }

        h2 {
            font-size: 32px;
            margin: 70px 0 16px 0;
        }

        textarea {
            width: 100%;
            height: 190px;
            padding: 8px;
            font-size: 18px;
            outline: none;
            border: 1px solid #909090;
            border-radius: 8px;
        }

        &__text {

            textarea {
                height: 108px;
                margin-bottom: 24px;
            }
        }

        button {
            background-color: #3183FF;
            color: white;
            width: 100%;
            height: 50px;
            font-size: 18px;
            font-weight: bold;
            cursor: pointer;

            &:disabled {
                background-color: #3183ff8e;
                cursor: not-allowed;
            }
        }


    }

    &__list {

        padding-top: 60px;
        max-width: 1048px;
        width: 100%;
        margin: 0 auto;


        @media screen and (min-width:319px) and (max-width:1048px) {
            width: 90%;
        }


        h2 {
            font-size: 32px;
            margin-bottom: 24px;
        }

        ul {
            padding-bottom: 40px;
        }

        li {
            list-style: none;
            border: 1px solid #909090;
            padding: 12px 16px;
            margin-bottom: 24px;
            border-radius: 8px;

            >p {
                background-color: #909090;
                text-align: center;
                padding: 8px 0;
                border-radius: 8px;
                width: 200px;
                font-weight: bold;
                margin-bottom: 8px;
            }

        }

        &__li {

            display: flex;
            justify-content: space-between;

            span {
                width: 80%;
                margin-top: 8px;

                @media screen and (min-width:319px) and (max-width:1048px) {
                    width: 90%;
                }
            }

            p {
                color: red;
                cursor: pointer;
            }
        }
    }
}